name: APM RNTP compile check
on:
  workflow_dispatch:
  push:
    branches:
      - 'APM'
jobs:
  buildIPA:
    runs-on: macos-15
    name: build IPA
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: set up JDK 18
        uses: actions/setup-java@v4
        with:
          java-version: 18
          distribution: temurin

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'yarn'
          
      - name: Install dependencies
        run: yarn; yarn build; cd example; yarn; cd ios; pod install

      - name: build
        run: cd example/ios && xcodebuild -scheme example -workspace example.xcworkspace -configuration Release clean archive -archivePath "build/example.xcarchive" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO

  buildAAB:
    runs-on: ubuntu-latest
    name: build AAB
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: set up JDK 18
        uses: actions/setup-java@v4
        with:
          java-version: 18
          distribution: temurin
          
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn; yarn build; cd example; yarn

      - name: gradle build AAB
        run: cd example/android && chmod +x gradlew && ./gradlew bundleRelease
